.home {
	font-size: 1.4em;
}

.hi {
	margin: 100px 0px 10px 3px;
}

.name {
	margin: 0px 0px 10px 0px;
}

.job1 {
	margin: 0px 0px 10px 0px;
}

.job2 {
	margin: 0px 0px 300px 0px;
}

.catchy {
	color: #00D646;
}

@media (max-width: 37.5em) {
	.home {
		font-size: 1.2em;
	}
}